/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12 2, 17, 1:02:00 PM
    Author     : Marviuz
*/

body {
    margin: 0;
    font-family: sans-serif;
    background-image: url("images/bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    background: rgba(0,0,0,0);
    transition: 1s;
    position: fixed;
    top: 0;
    width: 100%;
}

ul:hover {
    background: rgba(0,0,0,0.6);
}

li {
    opacity: 1;
    float: left;
}

li a {
    cursor: default;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

#logo {
    z-index: -1;
    cursor: default;
    left: 0;
    right: 0;
    position: fixed;
    color: white;
}

#home {
    margin: 10%;
    padding-left: 1.5%;
    padding-right: 1.5%;
    z-index: -1;
    position: absolute;
    color: white;
    background-color: #333;
    background: rgba(0,0,0,0.5);
}

#slideshow {
    margin-left: 50%;
    margin-top: 10%;
    position: absolute;
    z-index: -1;
}

#contact {
    color: white;
    background: rgba(0,0,0,0.5);
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, 50%);
}

table {
    color: black;
}

tr {
    background-color: white;
}

#icon {
    width: 30%;
}